doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    div(class='footer')
      p Created by Pedro Enciso
      p Check out the #[a(href='https://superheroapi.com/index.html') Superhero API] that I used.
