@import "footer";
@import "index";
@import "hero-detail";
@import "add_hero";
@import "delete_hero";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
}

body {
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #141414;
  color: #141414;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 1.05rem;
}
